
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body{
    height: 100vh;
    background: linear-gradient(
        135deg, 
        #a6c1ee,
        #fbc2eb
    );
}

body #container{
   border: 2px solid #ffffff;
   width: 40%;
   min-width: 450px;
   position: absolute;
   transform: translate(-50%, -50%);
   left: 50%;
   top: 50%;
   padding: 30px 50px;
}

body #container #todo-form{
    width: 100%;
    position: relative;
    background-color: #ffffffee;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}  

body #container #todo-form #todo-input {
    width: 70%;
    height: 45px;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 12px;
    color: #111111e4;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
}

body #container #todo-form #todo-input:focus{
    outline: none;
    border-color: #fbc2eb;
}


body #container #todo-form #todo-button {
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #fbc2eb;
    border: none;
    color: #ffffff;
    cursor: pointer;
} 

body #container .todo-ul {
    background-color: #ffffffee;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 8px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    width: 100%;
    position: relative;
    list-style-type: none;
    word-break: break-all;
}

body #container .todo-ul li {
    height: 50px;
    padding: 5px 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #d1d3d4;
    cursor: pointer;
}

body #container .todo-ul li button {
    position: relative;
    right: 5px;
    border-style: none;
    background-color: #ffffffee;
    cursor: pointer;
}

